@mixin font ($size:null, $height:null, $family:null, $color:null) {
	font-size: $size;
	line-height: $height;
	font-family: $family;
	color: $color;
}

h1 {@include font(36px, $family: "BebasRegular", $color:#e8603c);}
h2 {@include font(20px, $family: "BebasRegular", $color:#fff);}
h3 {@include font(18px, 24px, "BebasRegular", #e8663c);}
h4 {@include font(16px, 18px, "BebasRegular", #b9b9b9);}
h5 {@include font(11px, 18px, "BebasRegular", #e8663c);}


body {@include font(12px, 18px, "HelveticaNeueRegular");}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}


/***************************************** NAV *****************************************/

	nav {
		h1 {
			margin: 20px auto;
				span {
					color: #f3af9d;
				}
		}

		ul.menu {
			padding: 0px;
			margin: 20px auto;
				li {
					list-style-type: none;
					display: inline;
					margin-left: 25px;
						a {
							text-decoration: none;
							@include font(16px, $family: "BebasRegular", $color: #b9b9b9);
								&:hover, &:active, &:focus {
									color: #e8663c;
								};
						}
				}
		}
	}

/***************************************** NAV *****************************************/



/***************************************** SECTION#SLIDER *****************************************/

	section#slider {
		div.fotorama {
			div#slideInfo {
				max-width: 370px;
				background: rgba(232, 102, 60, 0.7%);
				padding: 22px 18px;
				position: absolute;
				bottom: 8%;
				left: 4%;
					h3 {
						color: #fff;
						margin: 0 auto;
					}

					p {
						color: #fff;
						margin: 0 auto;
					}
			}
		}
	}

/***************************************** SECTION#SLIDER *****************************************/



/***************************************** SECTION#INFO *****************************************/
	
	section#info {
		margin: 35px auto;
			span {
				color: #e8663c;
				float: left;
				margin-right: 20px;
				clear: both;
			}

			h3 {
				max-width: 200px;
				text-transform: uppercase;
				margin: 0 auto;
				display: block;
			}

			p {
				max-width: 245px;
				text-align: left;
				margin: 35px auto 20px auto;
			}

			a {
				display: block;
				margin: 0 60px 0 auto;
				background-color: #e8663c;
				width: 55px;
				text-align: center;
				text-decoration: none;
				@include font(12px, 24px, "BebasRegular", #fff);
				border: none;
				outline: none;
				padding: 5px 10px;
					&:hover {
						background-color: #ca785d;
					};
			}

	}

/***************************************** SECTION#INFO *****************************************/



/***************************************** SECTION#WORKS *****************************************/

	section#works {
		margin: 0px auto 45px auto;
		h3 {
			margin: 0px auto 25px auto;
		}

		div.col-lg-10 img {
			margin:0 auto;
			width: 100%;
			height: auto;
		}

		div.col-lg-3 figure {
			a {
				outline: none;
					img {
						width:100%;
						height: auto;
						min-height: 217px;
						min-width: 210px;
					}
			}

			figcaption {
				max-width: 100%;
				width: 100%;
				border:  1px solid #b9b9b9;
				border-top: none;
				padding: 10px;
					h4 {
						margin: 0 auto;
					}

					h5 {
						margin: 0 auto;
						text-transform: uppercase;
					}
			}
		}
	}

/***************************************** SECTION#WORKS *****************************************/



/***************************************** FOOTER *****************************************/

	footer div.container {
		background-color: #e8663c;
			h2 {
				margin: 40px auto 25px auto;
			}

			p {
				margin: 10px auto;
				color: #fff;
				max-width: 232px;
				text-align: justify;
			}

			p {
				span {color: #f3b29d; font-family: "HelveticaNeueLight";}
			}

			p {
				a {
					color: #f3b29d;
				}
			}

			ul.social {
				padding: 0px;
				margin: 20px auto 45px auto;
					li {
						display: inline;
							a {
								opacity: 0.7;
								padding: 5px;
									&:hover {
										opacity: 1;
									};
							}

					}
			}
	}

/***************************************** FOOTER *****************************************/